.Profile-Logo {
  width: 15rem;
  filter: drop-shadow(15px 15px rgba(0, 0, 0, 0.8));
}

.Profile-Title {
  font-size: 3.5rem;
  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
  }
}

.Profile-Subtitle {
  font-size: 1.5rem;
}

.Profile-Body {
  font-size: 1.1rem;
  font-weight: 500;
}
