@use "./variables" as *;
@use "./mixins" as *;

.page {
  // make sure pages fill up the screen
  min-height: 100vh;
  max-width: 100vw;

  &.blue-page {
    background-color: $light-blue;
  }
}
::-webkit-scrollbar {
  display: none;
}

.hero {
  min-height: 100vh;
}
.projectsArchive {
  background-color: $off-white;
}

.projectsArchive-heading {
  @include section-heading;
}
