@use "./variables" as *;
@use "./mixins" as *;

.page {
  // make sure pages fill up the screen
  min-height: 100vh;
  max-width: 100vw;

  &.blue-page {
    background-color: $light-blue;
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

::-webkit-scrollbar {
  display: none;
}

.off-white {
  background-color: $off-white;
}

.hero {
  min-height: 100vh;
}

.projectsArchive-heading {
  @include section-heading;
}
