@use "../../styles/variables" as *;

.Navigation-Item {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: $main-font;

  // padding to line up with icons better
  padding-top: 2px;

  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;

  transition: 400ms;
  &:hover {
    transform: translateX(5px);
    transition: 400ms;
  }
}
