@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.ProjectsBar {
  background-color: $off-white;
}

.ProjectsBar-Header {
  @include section-heading;
}

.Project-Title {
  font-size: 1.9rem;
  font-weight: 600;
  // for tablets
  @media screen and (max-width: 769px) {
    font-size: 1.7rem;
  }
  // for mobile devices
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.ProjectsBar-AllProjects {
  // width at which 3 projects split into 2 rows
  @media screen and (max-width: 1025px) {
    text-align: center;
  }
}

.Project-Subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  // for tablets
  @media screen and (max-width: 769px) {
    font-size: 1.1rem;
  }
  // for mobile devices and small tablets
  @media screen and (max-width: 576px) {
    font-size: 0.9rem;
  }
}

.Project-Body {
  font-size: 0.9rem;
  font-weight: 400;
  // for mobile devices and small tablets
  @media screen and (max-width: 576px) {
    font-size: 0.7rem;
  }
}

.ProjectsBar-ProjectContainer {
  @include card-hover;
  flex-basis: 33%;
  transition: 300ms;

  // tabs and small laptops
  @media screen and (max-width: 1025px) {
    flex-basis: 48%;
  }
  // for mobile and small tablets
  @media screen and (max-width: 576px) {
    flex-basis: 100%;
  }
}
