.ProjectsBar {
  background-color: #faf9f6;
}

.ProjectsBar-Header {
  font-size: 2.5rem;
  font-weight: 400;

  @media screen and (max-width: 769px) {
    font-size: 2.3rem;
  }
  // for mobile devices
  @media screen and (max-width: 576px) {
    font-size: 2.1rem;
  }
}

.Project-Title {
  font-size: 1.9rem;
  font-weight: 600;
  // for tablets
  @media screen and (max-width: 769px) {
    font-size: 1.7rem;
  }
  // for mobile devices
  @media screen and (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.Project-Subtitle {
  font-size: 1.3rem;
  font-weight: 500;
  // for tablets
  @media screen and (max-width: 769px) {
    font-size: 1.1rem;
  }
  // for mobile devices and small tablets
  @media screen and (max-width: 576px) {
    font-size: 0.9rem;
  }
}

.Project-Body {
  font-size: 0.9rem;
  font-weight: 400;
  // for mobile devices and small tablets
  @media screen and (max-width: 576px) {
    font-size: 0.7rem;
  }
}

.ProjectsBar-ProjectContainer {
  flex-basis: 33%;
  transition: 300ms;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    transition: 300ms;
  }
  // tabs and small laptops
  @media screen and (max-width: 1025px) {
    flex-basis: 50%;
  }
  // for mobile and small tablets
  @media screen and (max-width: 576px) {
    flex-basis: 100%;
  }
}
